<configuration>

    <!-- 標準出力用設定(コンソール) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ファイル名の日付部分の日付フォーマット -->
    <timestamp key="timestamp" datePattern="yyyyMMdd"/>

    <!-- ファイル出力用設定 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/application_${timestamp}.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ルートのログレベル設定 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>